name: CI Main
env:
  DOTNETSDKVERSION: 6.0.100
on:
  push:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    name:  Build, test, pack
    steps:
    - uses: actions/checkout@v2
   
    - name: Setup .NET SDK {{env.DOTNETSDKVERSION}}
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{env.DOTNETSDKVERSION}}
    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore /p:BuildNumber=$BUILD_NUMBER /p:SourceRevisionId=$GITHUB_SHA /p:ContinuousIntegrationBuild=true
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Pack
      run: dotnet pack --configuration Release --output finalpackage --verbosity d
      
    - name: Publish artifact
      uses: actions/upload-artifact@master
      with:
        name: nupkg
        path: finalpackage

  deploy:
    needs: build
    runs-on: ubuntu-latest
    name: Deploy to repo packages feed

    steps:
      - name: Download package artifact
        uses: actions/download-artifact@v2
        with:
          name: nupkg

      - name: Setup .NET SDK ${{ env.DOTNETSDKVERSION }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNETSDKVERSION }}

      - name: Add GitHub Package Repository source
        run: dotnet nuget add source --username  ${{ secrets.USERNAME }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github ${{ secrets.URI_PACKAGE }}

      - name: Push to GitHub Packages
        run: dotnet nuget push **/*.nupkg -s "github" --api-key ${{ secrets.GITHUB_TOKEN }}

  clean:
    needs: deploy
    runs-on: ubuntu-latest
    name: Delete old packages on repo feed

    steps:
      - name: Delete old packages
        uses: smartsquaregmbh/delete-old-packages@v0.3.1
        with:
          keep: 5
          names: |
            MinimalApis.Validators
            MinimalApis.Validators.FluentValidation
       
      
 
